In [0]:
schema_name = "sra"
table_name = "sra"

In [0]:
spark.sql(f"CREATE SCHEMA IF NOT EXISTS {schema_name}")

In [0]:
spark.sql(f"""
   CREATE TABLE IF NOT EXISTS {schema_name}.{table_name} (
       id INT,
       name STRING,
       age INT
   )
   """)

In [0]:
spark.sql(f"""
   INSERT INTO {schema_name}.{table_name} (id, name, age) VALUES
   (1, 'Alice', 30),
   (2, 'Bob', 25),
   (3, 'Charlie', 35)
   """)

In [0]:
df = spark.sql(f"SELECT * FROM {schema_name}.{table_name}")
display(df)